<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xunreader.mapper.BookMapper">
    <select id="searchBooks" resultType="com.xunreader.entity.Book">
        SELECT * FROM books
        WHERE status = 1
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (name LIKE CONCAT('%', #{keyword}, '%') OR author LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY updated_at DESC
    </select>
</mapper>